*.swp
*.pdf
*.eps
*.jpg
*.mat
*.gif
*.out
*.lua
*.pyc
*.so
*.p
*.tar
*karun_results*
*Duplicate*
*duplicate*
*clean*
*count_lines*
*99999*
*data*
*direct_results_*
*working_dir*
cscope.files
.pylintrc
